In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('pidicon2023_dataset.csv', low_memory=False)
df

,행번호,회원 ID,성별,생년월일,가구특성,세대구분,추정거주지,단말기코드,멤버십 사용 횟수,멤버십 사용 금액,...,홈쇼핑(지수),국외직접구매(지수),면세점/백화점(지수),화장품(지수),이미용성형(지수),국내여행(지수),해외여행(지수),공연장방문횟수,극장 방문 횟수,자동차 극장 방문횟수
0,1,D10000200,1,1987-12-30,4,1,3117056000,2,0,0,...,0.54983,0.71988,0.60739,0.59609,0.6229,0.81257,0.81556,3,1,1
1,2,D10000225,2,1971-01-21,5,1,3120053000,1,1,1761,...,0.82694,0.79885,0.71105,0.88571,0.90281,0.92985,0.37397,9,13,5
2,3,D10000657,1,1940-11-21,4,1,3114051000,1,0,0,...,0.81568,0.04994,0.16831,0.51137,0.22137,0.77133,0.82122,21,4,9
3,4,D10001185,1,1933-11-15,5,1,3120053000,1,0,0,...,0.95852,0.51806,0.65098,0.72958,0.19201,0.07207,0.69407,12,10,4
4,5,D10001358,1,1979-02-25,4,2,3114062500,1,3,3345,...,0.04566,0.72221,0.1471,0.89151,0.93744,0.86596,0.98461,3,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,D27990777,2,1959-04-06,4,2,3171025000,1,0,0,...,0.30881,0.01893,0.18,0.7424,0.03951,0.87773,0.89242,2,2,11
99996,99997,D27990915,1,1976-10-14,5,1,3111065000,2,3,5586,...,0.02574,0.07813,0.30249,0.79131,0.80797,0.61185,0.05218,4,1,34
99997,99998,D27990930,1,1998-01-08,4,1,3171025900,1,0,0,...,0.11707,0.05216,0.94796,0.9976,0.92819,0.27747,0.45034,6,7,3
99998,99999,D27991081,1,2000-05-29,1,2,3111055000,1,0,0,...,0.90766,0.51147,0.89994,0.66179,0.5022,0.67836,0.99754,7,1,2
99999,100000,D27991209,1,1994-05-20,5,1,3120056000,1,3,3027,...,0.14168,0.21781,0.66834,0.68132,0.12799,0.49159,0.80371,3,2,2

In [3]:
# 데이터 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 38 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   행번호           100000 non-null  int64
 1   회원 ID         100000 non-null  object
 2   성별            100000 non-null  int64
 3   생년월일          100000 non-null  object
 4   가구특성          100000 non-null  int64
 5   세대구분          100000 non-null  int64
 6   추정거주지         100000 non-null  int64
 7   단말기코드         100000 non-null  int64
 8   멤버십 사용 횟수     100000 non-null  int64
 9   멤버십 사용 금액     100000 non-null  int64
 10  소액결제 사용 횟수    100000 non-null  int64
 11  소액결제 사용 금액    100000 non-null  int64
 12  쿠팡사용일수        100000 non-null  int64
 13  네이버 쇼핑 사용일수   100000 non-null  int64
 14  11번가 사용일수     100000 non-null  int64
 15  당근마켓 사용일수     100000 non-null  int64
 16  옥션, G마켓 사용일수  100000 non-null  int64
 17  요기요 사용일수      100000 non-null  int64
 18  배달의 민족 사용일수   100000 non-null  int64
 19  쿠팡이츠 사용일수     100000 non-null  int64
 20  패스트패션(지수)     100000 non-null  object
 21  명품의류(지수)      100000 non-null  object
 22  신발(지수)        100000 non-null  object
 23  배달음식(지수)      100000 non-null  object
 24  넷플릭스(지수)      100000 non-null  object
 25  영화(지수)        100000 non-null  object
 26  대형마트(지수)      100000 non-null  object
 27  오픈마켓(지수)      100000 non-null  object
 28  홈쇼핑(지수)       100000 non-null  float64
 29  국외직접구매(지수)    100000 non-null  object
 30  면세점/백화점(지수)   100000 non-null  object
 31  화장품(지수)       100000 non-null  object
 32  이미용성형(지수)     100000 non-null  object
 33  국내여행(지수)      100000 non-null  object
 34  해외여행(지수)      100000 non-null  object
 35  공연장방문횟수       100000 non-null  int64
 36  극장 방문 횟수      100000 non-null  int64
 37  자동차 극장 방문횟수   100000 non-null  int64
dtypes: float64(1), int64(21), object(16)
memory usage: 29.0+ MB

In [4]:
df.describe()

,행번호,성별,가구특성,세대구분,추정거주지,단말기코드,멤버십 사용 횟수,멤버십 사용 금액,소액결제 사용 횟수,소액결제 사용 금액,...,11번가 사용일수,당근마켓 사용일수,"옥션, G마켓 사용일수",요기요 사용일수,배달의 민족 사용일수,쿠팡이츠 사용일수,홈쇼핑(지수),공연장방문횟수,극장 방문 횟수,자동차 극장 방문횟수
count,100000.000000,100000.000000,100000.00000,100000.000000,1.000000e+05,100000.000000,100000.00000,100000.00000,100000.00000,1.000000e+05,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,1.494810,4.10204,1.314230,3.176499e+09,1.448090,1.65692,2399.98575,1.06239,2.720515e+04,...,2.929290,1.662910,2.747010,0.676560,5.548450,1.157380,0.500654,4.879440,4.919550,4.919050
std,28867.657797,0.499976,1.46535,0.475344,3.908383e+08,0.745822,3.51682,5896.60669,3.55703,1.949916e+05,...,5.938108,4.590912,5.120636,2.826688,8.435017,4.149711,0.289511,6.445136,6.206423,6.188016
min,1.000000,1.000000,1.00000,1.000000,1.111052e+09,1.000000,0.00000,0.00000,0.00000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000010,1.000000,1.000000,1.000000
25%,25000.750000,1.000000,3.00000,1.000000,3.114053e+09,1.000000,0.00000,0.00000,0.00000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.249597,1.000000,1.000000,1.000000
50%,50000.500000,1.000000,4.00000,1.000000,3.117051e+09,1.000000,0.00000,0.00000,0.00000,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.500290,3.000000,3.000000,3.000000
75%,75000.250000,2.000000,5.00000,2.000000,3.120057e+09,2.000000,2.00000,2072.00000,0.00000,0.000000e+00,...,3.000000,1.000000,3.000000,0.000000,9.000000,0.000000,0.751842,6.000000,6.000000,6.000000
max,100000.000000,2.000000,6.00000,4.000000,5.013062e+09,6.000000,63.00000,155700.00000,320.00000,2.729600e+07,...,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,0.999960,300.000000,255.000000,222.000000

In [5]:
# 시그마 (2-3)
def get_outliers_with_sigma(df, column, size_of_sigma):
    lowest = df[column].mean() - (df[column].std()*size_of_sigma)
    highest = df[column].mean() - (df[column].std()*size_of_sigma)

    outlier_idx = df[column][(df[column] < lowest) | (df[column] > highest)].index
    return outlier_idx

In [6]:
col = "소액결제 사용 금액"
outlier_idx = get_outliers_with_sigma(df=df, column=col, size_of_sigma=3)
outlier_idx

Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       99990, 99991, 99992, 99993, 99994, 99995, 99996, 99997, 99998, 99999],
      dtype='int64', length=100000)

In [7]:
# 이상치 데이터 확인
df[col].loc[outlier_idx]

0        48000
1            0
2            0
3            0
4            0
         ...
99995        0
99996        0
99997        0
99998        0
99999        0
Name: 소액결제 사용 금액, Length: 100000, dtype: int64

In [8]:
# 이상치 데이터 행 삭제
df.drop(outlier_idx, axis=0, inplace=True)
df.shape

(0, 38)

In [9]:
df = pd.read_csv('pidicon2023_dataset.csv', low_memory=False)
df.shape

(100000, 38)

In [10]:
# IQR (1.5) = 약 2.7 시그마
def get_outlier_with_iqr(df, column):
    weight=1.5

    quantile_25 = np.percentile(df[column].values, 25)
    quantile_75 = np.percentile(df[column].values, 75)

    IQR = quantile_75 - quantile_25
    IQR_weight = IQR*weight

    lowest = quantile_25 - IQR_weight
    highest = quantile_75 + IQR_weight

    outlier_idx = df[column][(df[column] < lowest) | (df[column] > highest)].index
    return outlier_idx

In [11]:
col = "소액결제 사용 금액"
outlier_idx = get_outlier_with_iqr(df, col)
outlier_idx

Index([    0,     5,    13,    15,    16,    19,    20,    24,    35,    37,
       ...
       99922, 99924, 99948, 99956, 99961, 99966, 99970, 99973, 99979, 99994],
      dtype='int64', length=14600)

In [12]:
# 이상치 데이터 확인
df[col].loc[outlier_idx]

0         48000
5         38400
13        11400
15         7000
16         2200
          ...
99966    204600
99970     27200
99973     31200
99979      7100
99994     17500
Name: 소액결제 사용 금액, Length: 14600, dtype: int64

In [13]:
# 이상치 데이터 행 삭제
df.drop(outlier_idx, axis=0, inplace=True)
df.shape

(85400, 38)